<mat-toolbar>
    <button class="custom-btn icon" (click)="back()">
        <mat-icon class="icon-align">arrow_back</mat-icon>
    </button>
    &nbsp;
    <button *ngIf="isvendor" class="custom-btn icon" (click)="downloadInvoice()">
        <mat-icon class="icon-align">save_alt</mat-icon>
    </button>

    <button *ngIf="!isvendor" class="custom-btn icon" (click)="pStaffDownloadInvoice()">
        <mat-icon class="icon-align">save_alt</mat-icon>
    </button>

    <div class="example-spacer"></div> {{'purchase.invoice.title' | translate | titlecase}} <div
        class="example-spacer"></div>
</mat-toolbar>

<mat-toolbar class="error-message" *ngIf="hasError">
    <!-- Invoice already hase issued -->
    <app-error></app-error>
</mat-toolbar>

<div class="container-fluid" *ngIf="invoiceList">
    <div class="row my-3">
        <div class="col-9">
            <strong>
                <p class="text-muted font-italic">
                    {{'purchase.delivery-order.labels.supplier' | translate | titlecase}}
                </p>
            </strong>
            <div class="p-3 mt-4 table-bordered">
                <div>{{invoiceList.vendor.company_name}}</div>
                <div>{{invoiceList.vendor.biz_reg_num}}</div>
                <div
                    *ngIf="invoiceList.vendor.vendor_address.addr_line_1 != ''">{{invoiceList.vendor.vendor_address.addr_line_1}}</div>
                <div
                    *ngIf="invoiceList.vendor.vendor_address.addr_line_2 != ''">{{invoiceList.vendor.vendor_address.addr_line_2}}</div>
                <div
                    *ngIf="invoiceList.vendor.vendor_address.addr_line_3 != ''">{{invoiceList.vendor.vendor_address.addr_line_3}}</div>
                <div>{{invoiceList.vendor.vendor_address.postcode}},</div>
                <div>{{invoiceList.vendor.vendor_address.city}},</div>
                <div>{{invoiceList.vendor.vendor_address.state.name}},</div>
                <div>{{'purchase.delivery-order.labels.tel' | translate}}: {{invoiceList.vendor.office_phone}}</div>
                <div>{{'purchase.delivery-order.labels.sst_no' | translate}}: {{invoiceList.vendor.tax_num}}</div>
            </div>

        </div>
        <div class="col-3">
            <div class="">
                <h3>{{'purchase.invoice.title' | translate | titlecase}}</h3>
                <label> {{'purchase.invoice.labels.invoice-ref' | translate | titlecase}} : </label>
                <div>{{invoiceList.invoice_ref}}</div>
                <label> {{'purchase.invoice.labels.invoice-date' | translate | titlecase}}: </label>
                <div>{{invoiceList.issued_date | date: 'mediumDate'}}</div>
                <label> {{'purchase.invoice.labels.due-date' | translate | titlecase}} : </label>
                <div>{{invoiceList.due_date | date : 'mediumDate'}}</div>
            </div>
        </div>
    </div>

    <strong>
        <p class="text-muted font-italic">
            {{'purchase.delivery-order.labels.deliver-to' | translate | titlecase}}
        </p>
    </strong>

    <div class="p-3 table-bordered">
        <div>{{invoiceList.issued_by.company.name | titlecase}}</div>
        <div>{{invoiceList.issued_by.company.biz_reg_num}}</div>
        <div
            *ngIf="invoiceList.issued_by.company.address.addr_line_1 != ''">{{invoiceList.issued_by.company.address.addr_line_1}}</div>
        <div
            *ngIf="invoiceList.issued_by.company.address.addr_line_2 != ''">{{invoiceList.issued_by.company.address.addr_line_2}}</div>
        <div
            *ngIf="invoiceList.issued_by.company.address.addr_line_3 != ''">{{invoiceList.issued_by.company.address.addr_line_3}}</div>
        <div>{{invoiceList.issued_by.company.address.postcode}},</div>
        <div>{{invoiceList.issued_by.company.address.city}},</div>
        <div>{{invoiceList.issued_by.company.address.state.name}},</div>

    </div>

    <table class="table table-bordered" style="border:none!important; text-align: center">
        <tr>
            <th> {{'purchase.invoice.labels.bill-to.lbs.item' | translate | titlecase}}</th>
            <th> {{'purchase.invoice.labels.bill-to.lbs.quantity' | translate | titlecase}} </th>
            <th> SST </th>
            <th> {{'purchase.invoice.labels.bill-to.lbs.price' | translate | titlecase}}</th>
        </tr>

        <tr *ngFor="let do of invoiceList.invoice_products let i = index">
            <td>{{do.material.name | titlecase}}</td>
            <td>{{do.quantity}}</td>
            <td>{{do.tax | currency:'RM'}}</td>
            <td>{{do.price | currency:'RM '}}</td>
        </tr>
        <tr style="border:none!important">
            <td style="border:none!important" coldiv="3"></td>
            <td>
                <div class="row">
                    <div class="col-xl-5 col-md-6 px-2 pt-2" style="text-align: right">Total Tax: RM</div>
                    <div class="col-2 px-2 pt-2" style="text-align: right">{{ invoiceList.total_tax }}</div>
                </div>

                <div class="row">
                        <div class="col-xl-5 col-md-6 px-2 pt-2" style="text-align: right">{{'purchase.invoice.labels.bill-to.lbs.subtotal' | translate | titlecase}}: RM</div>
                        <div class="col-2 px-2 pt-2" style="text-align: right">{{invoiceList.total}}</div>
                    </div>

                <div class="row">
                    <div class="col-xl-5 col-md-6 px-2 pt-2" style="text-align: right">Total: RM</div>
                    <div class="col-2 px-2 pt-2" style="text-align: right">{{ invoiceList.grand_total }}</div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-md-6 px-2 pt-2" style="text-align: right">Rounding Adj: RM</div>
                    <div class="col-2 px-2 pt-2" style="text-align: right">{{ invoiceList.adj }}</div>
                </div>
            </td>
        </tr>
    </table>

    <mat-toolbar-row *ngIf="isvendor">
        <div class="example-spacer"></div>
        <button [disabled]="invoiceList.status == 1" (click)="issueInvoice()" mat-raised-button
            color="primary">{{'purchase.invoice.btns.issue-invoice' | translate | titlecase}} </button>
        <div class="example-spacer"></div>
    </mat-toolbar-row>
</div>