<mat-toolbar *ngIf="viewPO">
  <button class="custom-btn icon" (click)="back()">
    <mat-icon class="icon-align">arrow_back</mat-icon>
  </button>
  &nbsp;
  <button class="custom-btn icon" (click)="downloadPO()">
    <mat-icon class="icon-align">save_alt</mat-icon>
  </button>
  <span class="example-spacer"></span>
  {{'purchase.purchase-order.view-po.title' | translate}}
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="container-fluid" id="DO">
  <span *ngIf="viewPO">
    <mat-toolbar class="view-po-toolbar" *ngIf="viewPO.status === 0 && isvendor === true">
      <mat-form-field class="example-full-width">
        <form #frm="ngForm">
          <input type="text" maxlength="150" placeholder="Reject Reason" matInput [matAutocomplete]="auto"
            [formControl]="rejectReasonInput">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option class="select-reason" *ngFor="let reason of rejectRList" [value]="reason.name">
              {{reason.name}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </mat-form-field>

      <span class="example-spacer"></span>
      <div class="reason-resp-btn">
        <button mat-raised-button color="primary" (click)="acceptPurchaseOrder(viewPO)">{{'purchase.purchase-order.view-po.buttons.accept'|
          translate}}</button> <button [disabled]="rejectReasonInput.value ==''" mat-raised-button color="warn"
          (click)="rejectPurchaseOrder(viewPO)">
          {{'purchase.purchase-order.view-po.buttons.reject' | translate}}</button>
      </div>
    </mat-toolbar>
  </span>
  <div class="" *ngIf="viewPO">
    <div *ngIf="viewPO.reject_reason != null">
      <label style="color:red"> <strong>Rejected :</strong>
        {{viewPO.reject_reason}} </label>
      <hr>
    </div>
    <div class="row custom-row-card" *ngIf="viewPO.vendor">
      <div class="col">
        <span class="text-muted">{{'purchase.purchase-order.view-po.labels.po-reference' | translate}}</span>
        {{viewPO.order_id |uppercase}}
      </div>
      <div class="col"><span class="text-muted">{{'purchase.purchase-order.view-po.labels.status' | translate |
        titlecase}}</span>
        <span *ngIf="viewPO.status ==0">{{'purchase.purchase-order.po-view-status.0' | translate |
          titlecase}}</span>
        <span *ngIf="viewPO.status ==1">{{'purchase.purchase-order.po-view-status.1' | translate |
          titlecase}}</span>
        <span *ngIf="viewPO.status ==2">{{'purchase.purchase-order.po-view-status.2' | translate |
          titlecase}}</span>
        <span *ngIf="viewPO.status ==3">{{'purchase.purchase-order.po-view-status.3' | translate |
          titlecase}}</span>
        <span *ngIf="viewPO.status ==4">{{'purchase.purchase-order.po-view-status.4' | translate |
          titlecase}}</span>
        <span *ngIf="viewPO.status ==5">{{'purchase.purchase-order.po-view-status.5' | translate |
          titlecase}}</span>
        <span *ngIf="viewPO.status ==6">{{'purchase.purchase-order.po-view-status.6' | translate |
          titlecase}}</span>
        <span *ngIf="viewPO.status ==7">{{'purchase.purchase-order.po-view-status.7' | translate |
          titlecase}}</span>
      </div>
      <div class="col"> <span class="text-muted text-small">Updated by:</span> {{viewPO.issued_by.name}}
        ({{viewPO.modified_date | date:'mediumDate'}})</div>

    </div>
    <div class="row custom-row-address">
      <div class="col custom-suplier">
        <p class="label-po-title">{{'purchase.delivery-order.labels.supplier' | translate | titlecase}}</p>
        <p>{{viewPO.vendor.company_name | titlecase}}</p>
        <p>{{viewPO.vendor.biz_reg_num}}</p>
        <p *ngIf="viewPO.vendor.vendor_address.addr_line_1 != ''">{{viewPO.vendor.vendor_address.addr_line_1}}</p>
        <p *ngIf="viewPO.vendor.vendor_address.addr_line_2 != ''">{{viewPO.vendor.vendor_address.addr_line_2}}</p>
        <p *ngIf="viewPO.vendor.vendor_address.addr_line_3 != ''">{{viewPO.vendor.vendor_address.addr_line_3}}</p>
        <span>{{viewPO.vendor.vendor_address.postcode}},</span>
        <span>{{viewPO.vendor.vendor_address.city}},</span>
        <span>{{viewPO.vendor.vendor_address.state.name}}</span>
      </div>
      <div class="col custom-deliver-to">
        <p class="label-po-title">{{'purchase.purchase-order.view-po.labels.deliver-to' | translate | titlecase}}</p>
        <p *ngIf="viewPO.issued_by.company.name">{{viewPO.issued_by.company.name}}</p>
        <p *ngIf="viewPO.issued_by.company.biz_reg_num">{{viewPO.issued_by.company.biz_reg_num}}</p>
        <p *ngIf="viewPO.issued_by.company.address.addr_line_1">{{viewPO.issued_by.company.address.addr_line_1}}</p>
        <p *ngIf="viewPO.issued_by.company.address.addr_line_2">{{viewPO.issued_by.company.address.addr_line_2}}</p>
        <p *ngIf="viewPO.issued_by.company.address.addr_line_3">{{viewPO.issued_by.company.address.addr_line_3}}</p>
        <span *ngIf="viewPO.issued_by.company.address.postcode">{{viewPO.issued_by.company.address.postcode}},</span>
        <span *ngIf="viewPO.issued_by.company.address.city">{{viewPO.issued_by.company.address.city}},</span>
        <span *ngIf="viewPO.issued_by.company.address.state.name">{{viewPO.issued_by.company.address.state.name}}</span>
      </div>
    </div>
    <div class="row custom-row-card">
      <p>{{ 'purchase.purchase-order.view-po.labels.item-list' | translate | titlecase}}</p>
      <table class="custom-table" width="100%">
        <tr>
          <th width="auto">{{'purchase.purchase-order.view-po.labels.item-sub-labels.item' | translate |
          titlecase}} </th>
          <th width="10%">{{'purchase.purchase-order.view-po.labels.item-sub-labels.quantity' | translate |
          titlecase}} </th>
          <th width="20%">{{'purchase.purchase-order.view-po.labels.item-sub-labels.unit-price' | translate |
          titlecase}} </th>
          <th width="15%"> {{'purchase.purchase-order.view-po.labels.item-sub-labels.amount' | translate |
          titlecase}} </th>
        </tr>
        <tr *ngFor="let item of viewPO.po_products">
          <td style="text-align: left">{{item.material.name | titlecase}} </td>
          <td>{{item.quantity}} </td>
          <td> {{item.price | currency:'RM'}} </td>
          <td>{{item.subtotal | currency:'RM'}} </td>
        </tr>
        <tr>
          <td colspan="3" style="font-weight: 400; text-align: right">
            {{'purchase.purchase-order.view-po.labels.total' | translate |
            titlecase}}
          </td>
          <td>
            {{viewPO.grand_total | currency:'RM'}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="viewPO">
    <mat-toolbar>
      <span class="example-spacer"></span>
      <button class="custom-btn normal btn-s" [disabled]="viewPO.invoice_status===0" (click)="invoiceDO()">{{'purchase.purchase-order.view-po.buttons.invoice'|
        translate}}</button>
      <button class="custom-btn normal btn-s" *ngIf="isvendor" [disabled]="viewPO.delivery_status==0"
        (click)="deliveryOrder()">
        {{'purchase.purchase-order.view-po.buttons.delivery-order' | translate}}</button>
      <button class="custom-btn normal btn-m" *ngIf="!isvendor" (click)="viewDeliveryStatus()"
        [disabled]="viewPO.delivery_status==0">
        {{'purchase.purchase-order.view-po.buttons.update-delivery-status' | translate}}</button>
      <button class="custom-btn normal btn-m" *ngIf="isvendor" (click)="invoiceDelivered()"
        [disabled]="viewPO.invoice_delivered_status==0">
        {{'purchase.purchase-order.view-po.buttons.invoice-delivered'| translate}}</button>
      <button class="custom-btn normal btn-s" *ngIf="viewPO.completion_ready" (click)="autoComplete()">
        Complete</button>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>
</div>