<mat-toolbar>
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    Complete Purchase Order
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<div mat-dialog-content class="mat-typography">
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
    <button mat-raised-button [mat-dialog-close]="false" color="secondary">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary">Confirm</button>
  <span class="example-spacer"></span>
</div>