{{newmaterial}}
<mat-card class="container">
  <mat-toolbar mat-card-header card="card-with-toolbar" 
      style="height:32px">
      <span style="font-size:12px">New Material</span>
      <span class="spacer"></span>
      <!-- <mat-icon class="icon">favorite</mat-icon> -->
      <mat-icon class="icon md-dark md-12">insert_drive_file</mat-icon>
      <mat-icon class="icon md-dark md-12">close</mat-icon>
  </mat-toolbar>

  <div style="padding:10px 20px">
    <!-- <mat-form-field>
      <input hidden value="value">
    </mat-form-field> -->
    <div>
      <mat-form-field style="width:800px;">
        <input matInput placeholder="Material Name">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width:800px;">
        <textarea matInput placeholder="Material Description" style="height:60px"></textarea>
      </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Brand">
        </mat-form-field>
    </div>
  
    <div>
        <mat-form-field>
            <input matInput placeholder="Model">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Par Level">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Validity">
        </mat-form-field>
    </div>

    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->

    <button mat-button><mat-icon>insert_drive_file</mat-icon>Save</button>
  </div>
</mat-card>