.selected-box {
    height: 36px;
    font-size: 16px;
    background: #F4F4F4;
    border: 2px solid #483D8B;
    padding: 5px;
    border-radius: 5px;
}
.custom-input{
    height: 36px;
    width: 100%;
    font-size: 16px;
    background: #F4F4F4;
    border: 2px solid #483D8B;
    padding: 5px;
    border-radius: 5px;
}
.custom-input:focus{
    outline: none;
}
.image{
    display: inline-grid;
}
.image>img{
    border: 1px solid;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}
.image-upload{
    width: 101px;
    position: absolute;
    margin-top: 170px;
    margin-left: 55px;
    border-radius: 5px;
}
.in-valid-input{
    border-radius: .25rem;
    border: 2px solid red!important;
}
.in-drop-valid{
    border-end-end-radius: .25rem;
    border-top: 2px solid red!important;
    border-bottom: 2px solid red!important;
    border-left: 2px solid red!important;
}
.in-drop-valid-icon{
    color: red;
    border-start-start-radius: .25rem;
    border-top: 2px solid red!important;
    border-bottom: 2px solid red!important;
    border-right: 2px solid red!important;
}
.valid-input{
    border: 1px solid rgb(119, 226, 18);
}