.selected-box {
    height: 36px;
    font-size: 16px;
    background: #F4F4F4;
    border: 2px solid #483D8B;
    padding: 5px;
    border-radius: 5px;
}
.custom-input{
    height: 36px;
    width: 100%;
    font-size: 16px;
    background: #F4F4F4;
    border: 2px solid #483D8B;
    padding: 5px;
    border-radius: 5px;
}
.custom-input:focus{
    outline: none;
}
.image{
    display: inline-grid;
}
.image>img{
    border: 1px solid;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
    width: 200px;
}
.image-upload{
    width: 101px;
    position: absolute;
    margin-top: 170px;
    margin-left: 55px;
    border-radius: 5px;
}
.in-valid-input{
    border-radius: .25rem;
    border: 2px solid red!important;
}
.in-drop-valid{
    border-end-end-radius: .25rem;
    border-top: 2px solid red!important;
    border-bottom: 2px solid red!important;
    border-left: 2px solid red!important;
}
.in-drop-valid-icon{
    color: red;
    border-start-start-radius: .25rem;
    border-top: 2px solid red!important;
    border-bottom: 2px solid red!important;
    border-right: 2px solid red!important;
}
.valid-input{
    border: 1px solid rgb(119, 226, 18);
}
.promo-header{
    width: 100%;
    padding: 12px 0px;
}
.promo-card{
    border: 1px solid #DBDBDB;
    margin: 1px 0px 3px;
    padding: 10px 6px;
}
.custom-cerpa-btn{
    color: white;
    background-color: #483D8B;
}

.custom-tqy-selector-btn.qty-icon {
    background: #483D8B;
    width: 36px;
    display: inline-flex;
    color: #F4F4F4;
}
.custom-tqy-selector-btn{
    margin: 1px;
    cursor: pointer;
    height: 36px;
    border: 2px solid #483D8B;
    border-radius: 3px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.not-for-sale{
    border: solid #f44336;
    position: relative;
    color: #673ab7;
    border-radius: 5px;
    margin-top: 5px;
}