.set-password-header{
    background-color: lightgray;
    text-align: center;
    padding: 3px;
}
.container{
    padding-top: 15%;
    padding-right: 30%;
    padding-left: 30%;
}
.form-input{
    width: 30%;
}