<mat-toolbar>
    <span class="example-spacer"></span>
    {{'purchase.vendor.set_password.title' | translate}}
    <span class="example-spacer"></span>
</mat-toolbar>
<mat-toolbar *ngIf="hasError" class="error-message">
    <app-error></app-error>
</mat-toolbar>

<div class="container-fluid text-center my-5">
        <form [formGroup]="mform" (ngSubmit)="setPassword()" autocomplete="off" spellcheck="false">
                <mat-form-field class="form-input" title="password">
                    <input type="password" matInput
                        placeholder="{{'purchase.vendor.set_password.form.password' | translate}}" required
                        formControlName="password" required>
                    <button type="button" mat-button *ngIf="mform.controls.password.value" matSuffix mat-icon-button
                        aria-label="Clear" (click)="mform.patchValue({ password: '' })">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field><br>
    
                <mat-form-field class="form-input" title="confirm_password">
                    <input type="password" matInput
                        placeholder="{{'purchase.vendor.set_password.form.confirm_password' | translate}}" required
                        formControlName="confirm_password" required>
                    <button type="button" mat-button *ngIf="mform.controls.confirm_password.value" matSuffix mat-icon-button
                        aria-label="Clear" (click)="mform.patchValue({ confirm_password: '' })">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
    
                <br>
                <button mat-raised-button [disabled]="!mform.valid" title="Set Password " class="login-btn">
                    {{'purchase.vendor.set_password.form.button' | translate}} </button>
        </form> 
</div>