<!-- <app-tab [tabs]="tabs" [selected]="'monetization_on'"></app-tab> -->
<mat-toolbar>
    <mat-toolbar-row>
        <button class="custom-btn icon" (click)="back()">
            <mat-icon class="icon-align">arrow_back</mat-icon>
        </button>
        &nbsp;
        <button class="custom-btn icon" (click)="viewProductHistory()">
            <mat-icon class="icon-align">history</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>{{'purchase.product-pricing.view-product-pricing.title' | translate}} </span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid" *ngIf="product">
    <div class="cer-row">
        <div *ngIf="product.material.material_picture">
            <mat-card class="example-card m-1" style="box-shadow: none; padding: 0px;">
                <img [src]="product.material.material_picture" alt="cerpa material picture">
            </mat-card>
        </div>
        <div class="cer-col">
            <div class="custom-label pt-3">
                <div class="block-with-text">{{product.material.name |titlecase}}</div>
            </div>
            <div>
                <p *ngIf="promoPrice" class="custom-label">
                    <sup class="alert-color">{{'purchase.currency.type.ringgit' | translate}}
                        <del class="disabled">{{product.price}}</del>
                    </sup>
                    <span class="alert-color" style="font-size:32px"> {{promoPrice}}</span>
                </p>
                <p *ngIf="!promoPrice" class="custom-label contrast">
                    <sup>{{'purchase.currency.type.ringgit' | translate}}</sup><span style="font-size:32px"> {{product.price}}</span>
                </p>
            </div>
            <div class="tax-container">
                <div class="custom-selected-box dark d-inline-block">
                    <p *ngIf="product.tax_scheme === 0" class="text-truncate">
                        {{'purchase.product-pricing.add_product_pricing.tax_scheme.listed_price_is_tax_inclusive' | translate}}
                    </p>
                    <p *ngIf="product.tax_scheme === 1" class="text-truncate">
                        {{'purchase.product-pricing.add_product_pricing.tax_scheme.subject_to_tax' | translate}}
                    </p>
                    <p *ngIf="product.tax_scheme === 2" class="text-truncate">
                        {{'purchase.product-pricing.add_product_pricing.tax_scheme.non_taxable_item' | translate}}
                    </p>
                </div>
                <div class="custom-selected-box dark" style="max-width:175px" *ngIf="product.use_lowest_price">
                    <div class="text-truncate">Cheapest Guaranteed</div>
                </div>
            </div>
        </div>
        <div class="m-1" style="background:#F4F4F4; margin: 0">
            <mat-card style="margin:10px; box-shadow: none; padding: 0">
                <img id="vendor-logo" class="mat-card-img" mat-card-image *ngIf="product.vendor.company_logo != null"
                    [src]="product.vendor.company_logo">
                <img id="default-logo" class="mat-card-img" mat-card-image *ngIf="product.vendor.company_logo == null"
                    [src]="defaultImage">
            </mat-card>
            <div>
                <p style="margin:0">{{product.vendor.company_name}}</p>
            </div>
            <div>
                <p style="margin:0" class="payment-term">
                    <span *ngIf="product.vendor.payment_term != 0">{{ product.vendor.payment_term }} Day(s)</span>
                    <span *ngIf="product.vendor.payment_term == 0">Cash on delivery </span>
                </p>
            </div>
            <div class="px-3">
                <button class="custom-btn white text-truncate" (click)="goViewVendor(product.vendor.id)">
                    {{ 'app.action.view' | translate }}
                </button>
            </div>
        </div>

    </div>
    <div *ngIf="promoNow == true" class="row" style="margin:0; max-height: 50px">
        <div class="col-3 custom-selected-box alert text-truncate" style="max-width: 180px;">
            <label style="margin:0">Promotion Now</label>
        </div>
        <div class="col custom-label secondary" style="margin:auto 0">
            <p style="font-size: 16px"><i>valid until {{validDate | date:'mediumDate'}}</i></p>
        </div>
    </div>
    <div class="upcoming-promo" *ngIf="upcomingDate">
        Next upcoming promotion starts on {{upcomingDate | date:'mediumDate'}}
    </div>
    <div *ngIf="product.pricings.length>0" class="row" style="padding-top:40px; margin: -5px">
        <div *ngFor="let pricing of product.pricings" class="col-11 col-sm-6 col-md-4 col-lg-3 row pb-3">
            <div class="custom-selected-box quantity col-4 text-center">
                {{pricing.from_qty}}
            </div>
            <div class="col" style="padding:0;margin: -5px;">
                <div class="custom-label contrast" style="margin: -5px;text-align: center;">
                    <sup>{{'purchase.currency.type.ringgit' | translate}}</sup> {{pricing.price}}
                </div>
                <div style="height: 8px;background: #777777;"></div>
            </div>
        </div>
        <div class="col-xs-1 p-0">
            <div style="
            content: url(assets/module-icon/arrow-up-bold-circle-outline.png);
            margin-top: -3px;
            margin-left: 0px;">
            </div>
        </div>
    </div>
    <mat-toolbar-row>
        <span class="example-spacer"></span>
        <button *ngIf="product.vendor.payment_term != null" mat-raised-button (click)="openDialog()" color="primary">
            {{'app.button.raise_po' | translate}}
        </button>
        <button *ngIf="product.vendor.payment_term == null" mat-raised-button disabled>
            {{'app.button.insufficient' | translate}}
        </button>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</div>