.selected-box {
  height: 36px;
  font-size: 16px;
  background: #F4F4F4;
  border: 2px solid #483D8B;
  padding: 5px;
  border-radius: 5px;
}
.card-white-space-text{
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.codes{
  text-align: center;
}
.qr{
  width: 130px;
  height: 130px;
}