/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,body{
        display: unset!important;
        margin: 0px!important;
        padding: 0px;
        height: 100%!important;
        background-color: #FAFAFA;
    }
.mat-drawer-container{
    margin: 0px;
    padding: 0px;
    /* height: 85.9%!important; */
    /* height: 100%!important; */
}
.mat-drawer-content{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden !important;
}
.section-change{
    height: min-content;
} 
.sidenav-container{
    height: max-content;
    padding-bottom: 10px!important;
    margin: 0px!important;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.font-italic {
    font-style: italic !important;
}

.text-center {
    text-align: center !important;
}

.example-spacer {
    flex: 1 1 auto;
  }

.hide {
    display: none;
}
.error-message{
    position: relative;
    width: 98.5%;
    font-size: 12px;
    background-color: #9c00001e;
    padding: 12px;
    border-radius: 2px;
    color: red;
  }
  .success-message{
    position: relative;
    width: 96%;
    font-size: 12px;
    background-color: #03920a60;
    padding: 12px;
    border-radius: 5px;
    color: red;
  }

  /* to make spinner background transparent  */
  .dialog-bg .mat-dialog-container{
    border-radius: 40px;
    background-color: rgba(137, 43, 226, 0);
    box-shadow: 0 11px 15px -7px #00000000, 0 24px 38px 3px #00000000, 0 9px 46px 8px #00000000!important;
  } 

  html body{
      font-family: Arial, Helvetica, sans-serif! important;
  }

/* 
  Card Styling .....
*/

.cerpa-container{
    /* padding: 1%; */
    overflow: hidden;
    max-width: 100%;
    min-height: 100%;
    margin: 0px;
}

.cerpa-card-list{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    color: #444;
    grid-gap: 1px;
}
.mat-card.cerpa-card{
    background-color: #ffffff;
    padding:0px;
    border-radius: 2px;
    border: 2px solid #DBDBDB;
}

.custom-section{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% auto;
    &.vendor {
        display: block;
        grid-template-columns: none;
    }
}

@media screen and (min-width: 2000px) {
    .cerpa-card-list{
        width: 100%;
        display: grid;
        grid-template-columns:12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
        grid-gap: 1px;
        color: #444;
    }
    .cerpa-card{
        background-color: #ffffff;
        min-height: 200px;
        padding:0px;

    }
}
@media screen and (max-width: 900px) {
    .cerpa-card-list{
        width: 100%;
        display: grid;
        grid-template-columns:25% 25% 25% 25%;
        grid-gap: 1px;
        color: #444;
    }
    .cerpa-card{
        background-color: #ffffff;
        min-height: 200px;
        padding:0px;

    }
}

@media screen and (max-width: 800px) {
    .cerpa-card-list{
        width: 100%;
        display: grid;
        grid-template-columns:33% 34% 33%;
        grid-gap: 1px;
        color: #444;
    }
    .cerpa-card{
        background-color: #ffffff;
        min-height: 200px;
        padding:0px;

    }
}

@media screen and (max-width: 700px) {
    .cerpa-card-list{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        color: #444;
    }
    .cerpa-card{
        background-color: #ffffff;
        min-height: 200px;
        padding:0px;
    }
}

@media screen and (max-width: 600px) {
    .cerpa-card-list{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
        color: #444;
    }
    .cerpa-card{
        background-color: #ffffff;
        min-height: 200px;
        padding:0px;
    }
    .custom-section{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto;
    }
}

.cerpa-card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mat-card-img {    
    margin:0px !important;
    width:100% !important;
    height: 150px; 
    object-fit:cover; 
}

.card-img{
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}
.card-img>img{
    margin: auto;
    /* max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    */
    margin-top: 10px;
    height: 100px;
    width: 100px;
    object-fit: contain;
} 
.cerpa-more-icon{
    float: right;
    margin-right: 5%;
}

@import 'theme.scss';
.container-fluid {
    padding:0 $padding-xl;
}

.promo-badge{
    position: absolute;
    left:0;
    top:13%;
    background:$color-warning;
    text-align: center;
    border-bottom-right-radius: $radius-xxs;
    color:white;
    padding:5px 10px;
    font-size:12px;
}
.card-desc{
    text-align:center;
    padding:8px;
    &p{
        text-align: center;
    }
    line-height:1;
    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        color: #4E4972;
        font-size: $font-s;
        font-weight: 400;
        width: 100%;
        margin-bottom: $margin-s;
        &.listing {
            color: $color-dark;
            font-size: $font-xs;
        }
    }
    .card-status {
        font-size: 16px;  
        margin: 0px auto;
        width: 30%;
    }
    .card-price {
        color: $color-contrast;
        font-size: $font-l;
        sup {
            font-size: $font-s;
            // top:-10px;
            right:-3px;
        }
        sub {
            margin-right: 5px;
            // font-size:$font-l;
            bottom:0px;

        }
    }

    .active-status {
        background-color: $color-contrast;
        color: white;
    }

    .status {
        color: #777777;
    }
}


.custom-btn {
    margin: 1px; //temporary size
    &.white {
        background: white;
        font-size: $font-s;
        color: $color-primary;
        height: 38px;
        margin: 10px 0px;
        width: 100%;
    }
    &.normal {
        background: $color-primary;
        font-size: $font-s;
        color: $color-light;    
    }
    &.outline {
        background: $color-light;
        font-size: $font-s;
        color: $color-primary;
        height: 38px;
        margin: 10px 0px;
        width: 100%;
    }
    &.icon {
        background: $color-primary;
        width: 46px;
        color: $color-light;
        .icon-align {
            display: block;
            margin: auto;
        }
    }    
    &.icon-outline {
        color: $color-primary;        
        .icon-align {
            font-size: 35px;
            line-height: 28px;
        }
    }

    cursor: pointer;
    height: 46px;
    border: $border-s $color-primary;
    border-radius: $radius-xxs;
    justify-content: center;
    &:focus { 
        outline: none;
    }
    &.btn-xl {
        width: 300px;
    }
    &.btn-m {
        width: 250px;
    }
    &.btn-s {
        width: 100px;
    }
}

.custom-selected-box {
    height: 36px;
    font-size: 16px;
    background: $color-background;
    border: $border-s $color-primary;
    padding: 5px;
    border-radius: 5px;
    margin: $margin-xs;  
    &.alert {
        color: $color-alert;        
        border: $border-s $color-alert;
        text-align: center;
        margin: $margin-xl 0;
        font-weight: 600;
    }
    &.quantity {        
        padding: 5px 30px;
        border-radius: 20px;
    }
    &.dark {
        color: $color-dark;        
        border: $border-s $color-dark;
    }
}

.custom-label {
    font-size: $font-m;    
    text-align: left;
    padding: 0px 15px;
    &.secondary {
        color: $color-secondary;
    }
    &.contrast {
        color: $color-contrast;
    }
    .disabled {
        color: $color-disabled;
        padding: 0;
    }
    .alert-color {
        color: $color-alert;
        padding: 0;
    }
}


.block-with-text {
    overflow: hidden;
    position: relative; 
    line-height: 1.2em;
    max-height: 2.6em; 
    text-align: justify;
    padding-right: 1em;
}
.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.aligning {    
    display: flex;
    flex-direction: row !important;
    align-content: end !important;
}
.custom-input {
    display: flex;
    margin: 0;
    .input-box {
        width: 70%;
        height: 36px;
        font-size: $font-m;
        font-weight: 600;
        background: white;
        color: $color-secondary;       
        border: none;
        padding-left: 10px;

        &:focus { 
            outline: none;
        }
        &::placeholder {
            color:grey;
        }
    }

    .selector-button {
        padding: 0;
        color: white;
        background: $color-primary;
        border: none;
        min-width: 40px;
        height: 36px;
        &:focus { 
            outline: none;
        }
        &.suffix-left {
            border-radius: 5px 0px 0px 5px;
        }
        &.suffix-right {
            border-radius: 0px 5px 5px 0px;            
        }
    }

    .number-box {
        min-width: 40%;
        height: 36px;
        font-size: $font-s;
        background: white;
        color: $color-secondary;       
        border: $border-s;
        text-align: center;

        &:focus { 
            outline: none;
        }
        &::placeholder {
            color:grey;
        }
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
    }

    .currency-box{
        &.ng-valid{
            border-color: $color-contrast;
        }
        &:invalid{
            border-color: $color-alert;
        }
        width: 80%;
        height: 36px;
        font-size: $font-s;
        background: $color-light;
        color: $color-dark;        
        border: $border-s $color-contrast;
        &.default-box {
            border: $border-s $color-primary;
        }
        padding-left: 50px;
        border-radius: 5px;

        &:focus { 
            outline: none;
        }
        &::placeholder {
            color:grey;
        }
    }
    .currency-icon {
        &.alert {
            color: $color-alert;
        }
        height: 32px;
        color: $color-contrast;
        &.default-icon {
            color: $color-primary;
        }
        background: white;
        padding: 15px 10px;
        line-height: 5px !important;
        border-radius: 5px;
        position: absolute;
        top: 2px;
        left: 17px;
    }
    .search-box {
        font-size: $font-s;
        background: $color-primary;
        color: white;
        border: none;
        padding-left: 10px;
        border-radius: 5px 0px 0px 5px;

        &:focus { 
            outline: none;
        }
        &::placeholder {
            color:lightgray;
        }
    }
    .search-icon {
        color: white;
        background: darkslateblue;
        padding:16px 30px 18px 0px;
        line-height: 5px !important;
        border-radius: 0px 5px 5px 0px;
    }
    .search-box-outline {
        width: 100%;
        font-size: $font-s;
        background: $color-light;
        color: $color-primary;
        border: $border-s;
        padding-left: 10px;
        border-right: none;
        border-radius: 5px 0px 0px 5px;

        &:focus { 
            outline: none;
        }
        &::placeholder {
            color:grey;
        }
    }
    .search-icon-outline {
        color: $color-primary;
        background: $color-light;
        padding:16px 30px 18px 0px;
        line-height: 5px !important;
        border: $border-s;
        border-left: none;
        border-radius: 0px 5px 5px 0px;
    }
}

.custom-date-container {
    &.disabled {
        border: $border-s $color-disabled;
    }
    border: $border-s;
    // &.valid{
    //     border: $border-s;
    // }
    border-radius: 10px;
    background: $color-light;
    margin: 5px 0px;
    label {
        display: block;
        font-size: 12px;
        padding: 5px 10px 0px;
        margin: 0px;
    }
}

.custom-promo-date-container {
    &.disabled {
        border: $border-s $color-disabled;
    }
    // border: $border-s;
    &.valid{
        border: $border-s;
    }
    border-radius: 10px;
    background: $color-light;
    margin: 5px 0px;
    label {
        display: block;
        font-size: 12px;
        padding: 5px 10px 0px;
        margin: 0px;
    }
}
.custom-date{
    display: block;
    padding-left: 10px;
    background: $color-light;
    margin: 1px;
    font-size: $font-s;
    color: $color-primary;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 99%;
    position: relative;
    z-index: 1;
    &:after {
        font-weight: 900; 
        content: url(assets/module-icon/calendar-month-outline-primary.png);
        color: #555;
        height: 30px;
    }
    &.hide-placeholder {
        &:after {
            font-weight: 900; 
            content: url(assets/module-icon/calendar-month-outline-primary.png);
            color: #555;
            height: 30px;
            width: 100%;
            text-align: right;
        }
    }
    &.disabled {
        &:after{
            font-weight: 900; 
            content: url(assets/module-icon/calendar-month-outline-disabled.png);
            color: #555;
            height: 30px;
        }        
    }    
    &::-webkit-inner-spin-button,
    &::-webkit-clear-button {
        -webkit-appearance: none;
        display: none;
    }
    &::-webkit-calendar-picker-indicator {
        cursor: pointer; 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }
    &::-webkit-datetime-edit-text { color: $color-primary; }
    &::-webkit-datetime-edit-month-field { color: $color-primary; }
    &::-webkit-datetime-edit-day-field { color: $color-primary; }
    &::-webkit-datetime-edit-year-field { color: $color-primary; }

    &.invalid{
        border: 2px solid $color-alert !important;
    }
    // .custom-date-container{
    //     border: $border-s;
    // }
}

.custom-row-card {
    background: $color-light;
    margin: 10px 0px;
    padding: 15px;
    p {
        padding: 0px 5px;
        margin: 5px;
    }
    
    .custom-table {
        th,td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    }
}

.custom-row-address {
    margin: 10px 0px;
    color: $color-dark;
    font-size: $font-s;
    line-height: 24px;
    .custom-suplier {
        background: $color-light;
        // margin: 0px $margin-xxs 0px $margin-xs;
        // padding: $padding-s $padding-m;
        padding: 15px;
        margin-right: 5px;

    }
    .custom-deliver-to {
        background: $color-light;
        // margin: 0px $margin-xs 0px $margin-xxs;
        // padding: $padding-s $padding-m;
        padding: 15px;
        margin-left: 5px;
    }
    .label-po-title {
        font-size: $font-s;
        font-weight: 400;
        color: $color-secondary;
        line-height: 24px;
    }
}



.custom-card {
    padding: 10px !important;
    .custom-card-border {
        border: $border-xs $color-border;
        margin: $margin-xxs 0px $margin-xs;
        padding: 10px 0px;
        .custom-card-title {
            padding: $padding-s $padding-s $padding-xs $padding-m;
            p{
                margin: 0px;
            }
        }
        .custom-chip-wrapper {
            margin: 5px;
            .custom-chip-list {
                margin: $margin-xs $margin-xs $margin-xs $margin-xxs;
                .custom-chip-text {
                    margin: $margin-xs $margin-m;
                }
            }
        }
    }
}

.custom-promo-tier {
    padding: 20px 0px;
    p{
        margin: 0px;
    }
}
.custom-dash {    
    position: relative;
    right: 18px;
    bottom: 7px;
    padding: 0;
    mat-icon {
        font-size:60px;
        width: 7px;
    }
}

.payment-term {
    color: $color-dark;
}

.upcoming-promo {
    color: $color-alert;
    margin-top: $margin-xl;
}