.change-pass-container{
    min-width: 100%;
    margin: auto;
    padding: 0px;
}
.form-inputs>*{
    font: 100 red;
    min-width: 100%;
}

.show-password{
    position: absolute;
    margin-left: 420px;
    cursor: pointer;
    /* margin-top: 10px; */
}