<mat-toolbar color="default">
  <span class="example-spacer"></span>
  <span>Change Password</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-toolbar *ngIf="hasError" class="error-message">
  <app-error></app-error>
</mat-toolbar>
<div *ngIf="isSuccess" class="alert alert-success">{{'change-password.success-message' | translate}}</div>
<br>

<div *ngIf="!isSuccess" class="change-pass-container">
  <form [formGroup]="fGroup" #frm="ngForm" (ngSubmit)="changePassword(frm.value)">
    <div class="form-inputs">
      <mat-form-field>
        <span class="show-password" (click)="current_pass.type=current_pass.type=='password'?'text':'password'">
          <mat-icon *ngIf="current_pass.type=='password'">visibility_off</mat-icon>
          <mat-icon *ngIf="current_pass.type=='text'">remove_red_eye</mat-icon>
        </span>
        <input #current_pass type="password" formControlName="current_password" matInput placeholder="Current Password">
      </mat-form-field>
      <mat-form-field>
        <span class="show-password" (click)="new_pass.type=new_pass.type=='password'?'text':'password'">
          <mat-icon *ngIf="new_pass.type=='password'">visibility_off</mat-icon>
          <mat-icon *ngIf="new_pass.type=='text'">remove_red_eye</mat-icon>
        </span>
        <input #new_pass type="password" formControlName="new_password" matInput placeholder="New Password">
      </mat-form-field>
      <mat-form-field>
        <span class="show-password" (click)="new_conf_pass.type=new_conf_pass.type=='password'?'text':'password'">
          <mat-icon *ngIf="new_conf_pass.type=='password'">visibility_off</mat-icon>
          <mat-icon *ngIf="new_conf_pass.type=='text'">remove_red_eye</mat-icon>
        </span>
        <input #new_conf_pass type="password" formControlName="confirm_new_password" matInput
          placeholder="Confirm Password">
      </mat-form-field>
    </div>
    <mat-dialog-actions align="center">
      <button color="warn" [disabled]="!frm.valid" mat-raised-button>Submit</button>
      <button (click)="closeDailog()" color="secondary" mat-raised-button>Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
<div class="text-center">
  <button (click)="closeDailog()" color="primary" *ngIf="isSuccess" mat-raised-button class="mt-5">OK</button>
</div>