<div class="container-fluid">
  <mat-toolbar>
    <h3 style="width: 100%; text-align: center"> {{'login.reset_password.title' | translate}} </h3>
  </mat-toolbar>
  <mat-toolbar *ngIf="hasError" class="error-message">
    <app-error></app-error>
  </mat-toolbar>

  <br>

  <p *ngIf="success" style="text-align: center; margin: auto"> {{ 'login.forget_password.message-success' | translate }}
  </p>

  <div class="text-center">

    <div *ngIf="spinner">
      <mat-spinner id="spinner"></mat-spinner><br>
      <p *ngIf="verifying" style="margin-left:-12%">{{ 'login.forget_password.verifying' | translate }}</p>
    </div>
    <br>

    <form [formGroup]="formGroup" (ngSubmit)="resetPassword()" autocomplete="off" spellcheck="false" passwordsMismatch
      *ngIf="!success && !linkError">
      <div *ngIf="!spinner" class="container">
        <h4>{{ 'login.reset_password.info' | translate }}</h4><br>

        <mat-form-field class="example-full-width" title="password">

          <span class="show-password" (click)="newpass.type=newpass.type=='password'?'text':'password'">
            <mat-icon *ngIf="newpass.type=='password'">visibility_off</mat-icon>
            <mat-icon *ngIf="newpass.type=='text'">remove_red_eye</mat-icon>
          </span>

          <input #newpass type="password" matInput
            placeholder="{{'purchase.vendor.set_password.form.password' | translate}}" (focus)="messageShow = true;"
            (blur)="messageShow = false;" (keyup)="validate($event)" required formControlName="password" required
            matTooltip="{{ 'login.forget_password.hint' | translate }}"
            ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/">
          <button type="button" mat-button *ngIf="formGroup.controls.password.value" matSuffix mat-icon-button
            aria-label="Clear" (click)="formGroup.patchValue({ password: '' })">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br><br>


        <mat-form-field class="example-full-width" title="confirm_password">

          <span class="show-password" (click)="confpass.type=confpass.type=='password'?'text':'password'">
            <mat-icon *ngIf="confpass.type=='password'">visibility_off</mat-icon>
            <mat-icon *ngIf="confpass.type=='text'">remove_red_eye</mat-icon>
          </span>


          <input #confpass type="password" matInput
            placeholder="{{'purchase.vendor.set_password.form.confirm_password' | translate}}" required
            formControlName="confirm_password" matTooltip="{{ 'login.forget_password.hint2' | translate }}" required>
          <button type="button" mat-button *ngIf="formGroup.controls.confirm_password.value" matSuffix mat-icon-button
            aria-label="Clear" (click)="formGroup.patchValue({ confirm_password: '' })">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <br>

        <button mat-raised-button [disabled]="!formGroup.valid" title="Reset Password">
          {{'purchase.vendor.set_password.form.button' | translate}} </button>
      </div>
    </form>
  </div>
  <br>

  <div id="message" *ngIf="messageShow">
    <h3>{{ 'login.reset_password.message.title' | translate }}</h3>
    <span id="letter" [ngClass]="letterClass">{{ 'login.reset_password.message.letter' | translate }}</span><br>
    <span id="number" [ngClass]="numberClass">{{ 'login.reset_password.message.number' | translate }}</span><br>
    <span id="special" [ngClass]="specialClass">{{ 'login.reset_password.message.special' | translate }}</span><br>
    <span id="length" [ngClass]="lengthClass">{{ 'login.reset_password.message.length' | translate }}</span><br>
  </div>
</div>