<mat-toolbar>
  <mat-toolbar-row>
    <span class="example-spacer"></span>Required Info
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
 
<br>
<div mat-dialog-content>
  
  <div *ngIf="">
      <mat-card class="example-card" style="box-shadow: none">
          <img mat-card-image [src]="" alt="cerpa material picture">
      </mat-card>
  </div>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary">Continue</button>
  <span class="example-spacer"></span>
</div>