<mat-card class="user-activities-card">
    <mat-card-header style="padding:0;margin:0;">
        <mat-card-title>Activities</mat-card-title>
    </mat-card-header>
    <mat-card-content>
                <mat-list role="list">
                        <mat-list-item role="listitem" style="padding:0; margin:0">
                                <h4 mat-line style="font-size:12px">Added material "Salt".</h4>
                                <p mat-line style="font-size:9px"> Feb 3, 2016 10:44PM</p>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                                <h4 mat-line style="font-size:12px">Removed product "Honda".</h4>
                                <p mat-line style="font-size:9px"> Jan 1, 2016 1:52PM</p>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                                <h4 mat-line style="font-size:12px">Updated password.</h4>
                                <p mat-line style="font-size:9px"> Nov 19, 2015 1:52PM</p>   
                        </mat-list-item>
                </mat-list>
    </mat-card-content>
</mat-card>
